{% extends "base.html" %}
{% block title %}Restaurant Create{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
    <h1>Configure devices</h1>

    <form method="POST" action="{{ url_for('add_config') }}">
        <div class="mb-3">
          <label for="current_time" class="form-label">Set Time</label>
          <input type="text" class="form-control" id="current_time" name="current_time" value={{datas[0]}}>
        </div>
        <div class="mb-3">
          <label for="sleep_min" class="form-label">Sampling(min)</label>
          <input type="text" class="form-control" id="sleep_min" name="sleep_min" value={{datas[1]}}>
        </div>
        <div class="d-flex justify-content-end">
          <a href="{{ url_for('add_config') }}" class="btn btn-success px-4 gap-3">Submit</a>
  </div>
    </form>
{% endblock %}
    
