{% extends "base.html" %}
{% block title %}Actual temperatures list{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }

      .score {
        display: block;
        font-size: 16px;
        position: relative;
        overflow: hidden;
      }
      
      .score-wrap {
        display: inline-block;
        position: relative;
        height: 19px;
      }
      
      .score .stars-active {
        color: #EEBD01;
        position: relative;
        z-index: 10;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .score .stars-inactive {
        color: grey;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-stroke: initial;
        /* overflow: hidden; */
      }
  </style>
{% endblock %}
{% block content %}
      <h1>Logs</h1>

      {% if True %}
          <table class="table">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Time</th>
                      <th class="text-end">Content</th>
                  </tr>
              </thead>
              <tbody>
                  {% for log in logs %}
                      <tr>
                          <td>{{ log.id }}</td>
                          <td>{{ log.time }}</td>
                          <td class="text-end">{{ log.content }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% else %}
          <p>No logs yet.</p>
      {% endif %}

      <div class="d-flex justify-content-end">
              <a href="{{ url_for('index') }}" class="btn btn-success px-4 gap-3">Main page</a>
              <a href="{{ url_for('deleteDatas') }}" class="btn btn-success px-4 gap-3">Delete data</a>
      </div>
{% endblock %}